version: '3'
services:
  postgres1sequelize: # https://hub.docker.com/_/postgres
    image: postgres:11.1
    volumes:
      - postgres1Volume:/var/lib/postgresql/data

  postgres2knex: # https://hub.docker.com/_/postgres
    image: postgres:11.1
    volumes:
      - postgres2Volume:/var/lib/postgresql/data

  zookeeper1wurstmeister: # https://hub.docker.com/r/wurstmeister/zookeeper/
    image: wurstmeister/zookeeper:latest

  kafka1wurstmeister: # https://hub.docker.com/r/wurstmeister/kafka/
    image: wurstmeister/kafka:0.11.0.0

  redis1ioredis: # https://hub.docker.com/_/redis
    image: redis:5.0.3

volumes:
  postgres1Volume:
  postgres2Volume:
