# OSX
#
.DS_Store

# node.js
#
node_modules
npm-debug.log
yarn-error.log
junit.xml
test-report.xml
.eslintcache

# Others
#
trash

\.vscode/
\.vs/

# Dockest dev
#
dist
docker-compose.dockest-generated.yml
docker-compose.dockest-generated-runner.yml
dockest-error.json
dockest.log
website/.docusaurus
website/build

# Webstorm
.idea/*
