.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

.github
.editorconfig
.gitignore
.prettierrc
.travis.yml
jest.config.js
jestSetup.ts
.tsconfig.json
.tslint.json
yarn-error.log

assets/
dev-toolbox/
example/
**/*.spec.js